#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.normal {
  background: #79F27B;
}
.logo {
  display: inline-block;
  float:left;
}
.logo img{
  width:120px;
  margin-top:-18px;
}